PORT=3000
RATE_LIMIT_WINDOW=1
RATE_LIMIT_MAX=15

ACCESS_TOKEN_SECRET=access_token_secret

GITHUB_OWNER=github_owner
GITHUB_REPO=github_repo
GITHUB_BRANCH=github_branch
GITHUB_TOKEN=github_token
GITHUB_WEBHOOK_SECRET=github_webhook_secret
